<!-- <h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p> -->

<p>Ask your coach anything: </p>
<form action="/answer" method="get" id="form" class="form-inline">
  <div class="form-group mx-sm-3 mb-2">
    <input type="text" name="question_type">
  </div>
  <input type="submit" value="Ask!" class="btn btn-primary mb-2">
</form>

